<!DOCTYPE html>
<html lang="en">
<head>
  <title>Places</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Vacation Spots</h1>      
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="home.html">Home</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">FAMILY</div>
        <div class="panel-body"><img src="../static/family_trip.jpg" class="img-responsive" style="width:600px height:450px" alt="Image"></div>
        <div class="panel-footer">
        <ul >
        <li ><a href="alwar.html">Alwar</a></li>
        <li><a href="#section2">Kulu Manali</a></li>
        <li><a href="#section3">Nainital</a></li>
        <li><a href="#section3">Shilong</a></li>
      </ul><br>
    	</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">HILLS</div>
        <div class="panel-body"><img src="../static/hill_station_trip.jpg" class="img-responsive" style="width:600px height:450px" alt="Image"></div>
        <div class="panel-footer">
        <ul >
        <li ><a href="#">Almora</a></li>
        <li><a href="#section2">Coorg</a></li>
        <li><a href="#section3">Darjeeling</a></li>
        <li><a href="#section3">Dharamsala</a></li>
      </ul><br>
    	</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">LEISURE</div>
        <div class="panel-body"><img src="../static/leisure_trip.jpg" class="img-responsive" style="width:600px height:450px" alt="Image"></div>
        <div class="panel-footer">
        	<ul >
        <li ><a href="#">Allepey</a></li>
        <li><a href="#section2">Chandigarh</a></li>
        <li><a href="#section3">Chikmagalur</a></li>
        <li><a href="#section3">Kochi</a></li>
      </ul><br>
        </div>
      </div>
    </div>
  </div>
</div><br>

<br><br>

<footer class="container-fluid text-center">
  <p>@Web Tech Project - 2019</p>
</footer>

</body>
</html>

