<!DOCTYPE html>
<html>
<head>
<title>XHR COMET</title>
<script type="text/javascript"> 
obj =
{
	xhr: new XMLHttpRequest(), 
	
	monitor: function()
	{
		this.xhr.onreadystatechange = this.update;
		this.xhr.open("GET", "http://localhost:8000/", true);
		this.xhr.send();
	},
	
	update: function()
	{
		if(this.readyState == 4 && this.status == 200)
		{
			console.log(this.readyState+" in updateDiv");
			if(this.responseText.indexOf("Fatal") == -1)
			{
				console.log(this.responseText);
				var data = JSON.parse(this.responseText);

				newdiv = document.createElement("div");
				//newdiv.innerHTML = this.responseText;
				newdiv.innerHTML = data['text'];
				document.body.appendChild(newdiv);
				this.abort();
				obj.monitor();
			}
		}
	}
}
</script>
</head>
<body>
<input type="button" value="CLICK TO MONITOR" onclick="obj.monitor()"/><p>
</body>
</html>
